<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proprietaire.name %>
</p>

<%= link_to 'Edit', edit_proprietaire_path(@proprietaire) %> |
<%= link_to 'Back', proprietaires_path %>
